<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.applesignin</key>
	<array>
		<string>Default</string>
	</array>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:vinho.dev</string>
		<string>applinks:www.vinho.dev</string>
		<string>webcredentials:vinho.dev</string>
		<string>webcredentials:www.vinho.dev</string>
	</array>
</dict>
</plist>
