# Gradle
.gradle/
build/
local.properties

# Android Studio
.idea/
*.iml

# Gradle wrapper binary
gradle/wrapper/gradle-wrapper.jar

# App artifacts
app/build/
*.apk
*.aab
captures/

# Kotlin toolchains
.kotlin/
